# Entorno virtual y dependencias
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
# Logs y temporales
*.log
*.tmp
*.swp
*.bak
__pycache__/
*.pyc
.vscode/
.idea/
.models/
.vosk-model-es-0.42/
.vosk-model-small-es-0.42/
.notas.md